[Unit]
Description=Device Inventory
Before=zabbix-agent2.service

[Service]
Type=simple
EnvironmentFile=-/etc/default/device-inventory
ExecStart=/usr/bin/device-inventory --daemon
Restart=always

[Install]
WantedBy=multi-user.target
