[Unit]
Description=SSD Initialize Service
RequiresMountsFor=/data
After=media-ssd.mount
Requires=media-ssd.mount
Before=docker.service terminal-system-cored.service
ConditionPathExists=!/data/.ssd_initialized

[Service]
Type=oneshot
ExecStart=/usr/bin/ssd-initialize.sh

[Install]
WantedBy=multi-user.target
