[Unit]
Description=SSD mount service
Before=docker.service terminal-system-cored.service

[Service]
Type=oneshot
RemainAfterExit=yes
Environment="SCRIPT_ARGS=%I"
ExecStart=/usr/bin/ssd-mount.sh $SCRIPT_ARGS
