[Unit]
Description=SD mount service
Before=docker.service terminal-system-cored.service

[Service]
Type=oneshot
RemainAfterExit=yes
Environment="SCRIPT_ARGS=%I"
ExecStart=/usr/bin/sd-mount.sh $SCRIPT_ARGS
